.button {
	color: var(--text-color);
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition-property: border-color, color;
	transition-duration: 0.25s;
}

.button:disabled {
	color: #a0a0a0;
}

button.button:not(:disabled):hover,
a.button:hover {
	border-color: var(--accent-color);
}

.button:focus,
.button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.button.fullWidth {
	width: 100%;
}

/* Variants */
.button.primary {
	color: var(--accent-color);
}

.button.info {
	color: var(--info-color);
}

.button.info:not(:disabled):hover {
	border-color: var(--info-color);
}

.button.success {
	color: var(--success-color);
}

.button.success:not(:disabled):hover {
	border-color: var(--success-color);
}


.button.warning {
	color: var(--warning-color);
}

.button.warning:not(:disabled):hover {
	border-color: var(--warning-color);
}

.button.error {
	color: var(--error-color);
}

.button.error:not(:disabled):hover {
	border-color: var(--error-color);
}

/* Button Groups */
.buttonGroup {
	width: 100%;
	display: flex;
}

.buttonGroup.fullWidth * {
	flex-grow: 1;
}

.buttonGroup .button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.buttonGroup .button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
