.button {
	background-color: var(--accent-color-light);
	color: var(--accent-color);
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

.button:disabled {
	color: #a0a0a0;
}

button.button:not(:disabled):hover,
a.button:hover {
	border-color: var(--accent-color);
}

.button:focus,
.button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.buttonGroup {
	width: 100%;
	display: flex;
}

.buttonGroup>.dropdown:not(:first-child) .button,
.buttonGroup>.button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.buttonGroup>.dropdown:not(:last-child) .button,
.buttonGroup>.button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
