.loader {
	--size: 20px;
	border: var(--size) solid #f3f3f3;
	/* Light grey */
	border-top: var(--size) solid var(--accent-color);
	/* Blue */
	border-radius: 50%;
	width: calc(var(--size) * 6);
	height: calc(var(--size) * 6);
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
